@model DC.Web.App.Models.ForgotPasswordViewModel
@{
    ViewBag.Title = "Contact Us";
}
<style>
    h4 {
        margin: 0px;
        padding-bottom: 5px;
        font-size: 14pt;
        font-weight: bold;
    }

    p {
        text-align: justify;
        font-size: 12pt;
    }
</style>

<div class="col-lg-8 col-lg-offset-2">

    

    <h4>Address</h4>
    DC Books Online Store
    <br />
    D C Kizhakemuri Edam, Good Shepherd Street,
    <br />
    Kottayam, Kerala 686001.
    <br /> <br />
    Phone: +91 72900 92216, +91 481 2563114, +91 481 2301614 <br />
    Email: customercare@dcbookshop.net, support@dcbookshop.net, onlinesales@dcbookshop.net
</div>

