.lounchsecmargin {
    padding-top: 10px;
    position: relative;
}

.productbox2 {
    background: #fff;
    position: relative;
    min-height: 476px;
    border: 1px solid #f0f0f0;
    border-radius: 10px;
    overflow: hidden;
    margin-bottom: 24px;
}

.productbox2 .imgcontainer {
    text-align: center;
    max-height: 330px;
    opacity: 0.9;
    overflow: hidden;
}

.productbox2 .imgcontainer:hover {
    opacity: 1.0;
}

.productbox2 .imgcontainer .img-responsive {
    width: 100%;
}

img {
    vertical-align: middle;
}

.zoom {
    transition: transform .2s;
    /* Animation */
    transform: scale(0.95);
    margin: 0 auto;
}

.zoom:hover {
    transform: scale(1);
    /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
}

carousel-inner>.item>a>img,
.carousel-inner>.item>img,
.img-responsive,
.thumbnail a>img,
.thumbnail>img {
    display: block;
    max-width: 100%;
    height: auto;
}

.productbox2 .descriptiomsec {
    width: 90%;
    margin: 0 auto;
    margin-top: 5px;
    text-align: left;
    line-height: 20px;
    font-size: 100%;
    white-space: nowrap;
    overflow: hidden !important;
    text-overflow: ellipsis;
    font-weight: 300;
}

.productbox2 .descriptiomsec p {

    color: #ccc;
    font-size: 11px;
    white-space: nowrap;
    overflow: hidden !important;
    text-overflow: ellipsis;
}

.productbox2 .pricingsec {
    width: 90%;
    margin: 0 auto;
    height: 49px;
    text-align: left;
    font-size: 18px;
    color: #61ab0a;
    line-height: 26px;
    font-weight: 600;
}

.productbox2 .pricingsec span {
    font-size: 14px;
    color: #494949;
    text-decoration: line-through;
    line-height: 18px;
    font-weight: 300;
}

.productbox2 .addtocartsec {
    width: 100%;
    padding: 10px 0;
    border-top: #9ACE48 solid 5px;
    position: absolute;
    bottom: 0;
    text-align: center;
    background: #f0f0f0;
    border-bottom: #ccc solid 2px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.viewmorebutton {
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 10px;
    display: inline-block;
    text-align: center;
    font-family: 'Roboto Condensed', sans-serif !important;
    background-color: #444444;
    color: #fff !important;
    font-weight: 300;
    border: 0px solid #333;
    padding: 4px 20px 4px 20px;
    cursor: pointer;
    font-size: 14px;
    text-decoration: none !important;
    text-transform: uppercase;
}

.correct {
    background-color: rgb(135, 236, 255);
}

#dvAudioFooter {
    display: none;
}

@media (max-width:767px){
    .productbox2 {
        min-height: 360px;
    }
}

/*Avanaish*/
.cover img, .image img {
    width: 100% !important;
    padding: 0px !important;
    margin: 0px !important;
}

@media (max-width:767px) {
    #resultDiv {
        margin-top: 26%;
        margin-bottom: 26%;
    }

    .yellow1, .box, .yellow {
        padding: 10px !important;
    }

    .image img {
        width: 100% !important;
        margin: 0;
    }

    .cover img {
        width: 100% !important;
        padding: 0px !important;
        margin: 0px !important;
    }

    div#dvBodyMain {
        padding: 0;
    }

    .chap div {
        margin: 0 !important;
    }
}